<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section>  
  <header>
  <h2>Title 1</h2>
  </header>
  <p>
    Paragraph 1: Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section>  
  <header>
  <h2>Title 2</h2>
  </header>
  <p>
    Paragraph 2: Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section>  
  <header>
  <h2>Title 3</h2>
  </header>
  <p>
    Paragraph 3: Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<footer>
Here is the footer text.
</footer>