// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$pink: rgb(255, 216, 211);

.welcome-container {
position: absolute;
display: inline-block;
background-color: $pink;
width: 40%;
height: auto;
top: 10%;
margin: 0 auto;
left: 0;
right: 0;
padding: 10px;
margin-bottom: 100px;
border-radius: 10px;
}